@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

.Home{
  font-family: Shojumaru;
}
